 .transactions{
    flex: 4;
 }

 .payment{
    display: flex;
    justify-content: center;
    margin: 1rem;
 }

 .payment-btn{
    padding: 1rem 8rem;
    border: none;
    background: #2884ff;
    color: white;
    font-size: 1.1rem;
    border-radius: .5rem;
    cursor: pointer;
 }

.transaction-wrapper{
    margin: 3rem;
}

.transaction-header{
   text-align: center;
   color: white;
   margin: 2rem;
}