.cards{
    flex: 3;
    margin: 0px 20px;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    margin: 1rem;
}

.cards:nth-child(1){
    background: #725cff;;
}
.cards p{
    margin: 1rem;
    font-size: 1.3rem;
    font-weight: 600;
    color: white;
}

.cards span{
    font-size: 1.1rem;
    font-weight: 500;
    color: white;
    margin-left: 0.5rem;
}